<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Look Solution site">
        <meta name="author" content="WebLab">
        <link rel="shortcut icon" href="public/favicon.ico">
        <title>Look Solution - {% block title %}Bienvenu!{% endblock %}</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,600" async defer>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.0/css/bootstrap.min.css" async defer>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/venobox/1.8.2/venobox.css" async defer>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" async defer>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" async defer>
        
        <!--[if lt IE 9]>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="{{ path('admin_home') }}">Look Solution</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor02">
                <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_register') }}">Ajouter un article |</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_register') }}">Boucherie |</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Les Cerveaux |</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Festival |</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Investissement |</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Location |</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Loto |</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Gala |</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Utilisateurs |</a>
                </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>
        {#Block notification#}
        <div>
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-dismissible alert-{{ label }} text-center">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                        {{ message |raw }}
                    </div>
                {% endfor %}
            {% endfor %}   
        </div>
        {% block body %}{% endblock %}
    </body>
</html>
