{% extends 'admin_home/base.html.twig' %}

{% block title %}{{ article.title }}{% endblock %}

{% block body %}
<h1>{{ article.title }}</h1>

    {{ form_start(form) }}

        {{ form_row(form.title) }}
        {{ form_row(form.category) }}
        {{ form_row(form.content) }}
        {{ form_row(form.coverUrl) }}
        {{ form_row(form.status) }}

        <button class="btn btn-success">Enrégistrer</button>
    {{ form_end(form) }}
{% endblock %}
